:root {
  --black: #000;
  --white: #fff;
  --grey: #666;
  --light_grey: #c9bbd3;
  --purple: #5a0389;
  --orange: #f9882c;
  --effect: hover 1s linear infinite;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  min-height: 100vh;
}

header,
main,
footer {
  flex-shrink: 0;
}

header {
  position: relative;
}

main {
  width: 100%;
  margin: auto;
  flex: 1 0 auto;
  position: relative;
  background-color: var(--black);
  color: var(--white);
  /* height: 1500px; */
}

footer {
  margin-top: auto;
}

footer {
  height: 2rem;
  line-height: 2rem;
  background-color: var(--black);
  color: var(--white);
  font-size: 12px;
  border-top: 1px solid rgba(217, 217, 217, 0.3);
}
/* li tags */
ul {
  list-style-type: none;
}

/* logo */
.logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 2px 20px;
  height: 51px;
}

/* nav */
.nav {
  padding-left: 100px;
  overflow: hidden;
  background-color: var(--black);
}

.nav__a {
  float: left;
  min-width: 20%;
  display: block;
  color: var(--white);
  text-align: center;
  font-weight: bold;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.25rem;
}

.nav__a:hover {
  background-color: var(--light_grey);
  color: var(--black);
}

.nav__a--active {
  background-color: var(--purple);
  color: var(--white);
}

.nav__a--icon {
  float: left;
  display: block;
  color: var(--white);
  text-align: center;
  padding: 1rem;
  text-decoration: none;
  font-size: 1.25rem;
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .nav__a:not(.nav__a--active) {
    display: none;
  }
  .nav__a--icon {
    float: right;
    display: block;
  }
  .nav__a:hover {
    background-color: var(--purple);
    color: var(--white);
  }
}

@media screen and (max-width: 600px) {
  .nav--responsive {
    position: relative;
  }
  .nav--responsive .nav__a--icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav--responsive .nav__a {
    padding-left: 2em;
    float: none;
    display: block;
    text-align: left;
  }
}

/* home */
.home {
  position: relative;
  overflow: hidden;
  min-height: 500px;
  padding-bottom: 3rem;
}

.home__bg {
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  /* height: auto; */
  transform: none;
  object-fit: cover;
  z-index: 0;
}

.searchMovies {
  position: relative;
  width: 80%;
  margin: 50px auto;
  z-index: 1;
}

.movieList {
  position: relative;
  color: var(--white);
  z-index: 1;
}

.movieList__h2 {
  margin: 2rem;
  color: var(--orange);
}

.movieList__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.movieCard {
  border: 1px solid var(--grey);
  width: 210px;
  height: 350px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.4);
}

.movieCard__title {
  margin: 0;
  line-height: 2rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  cursor: help;
}

.movieCard__date,
.movieCard__img {
  margin: 0;
}

.movieCard__date {
  padding-bottom: 0.5rem;
  font-size: 0.8rem;
  line-height: 1.6rem;
}

/* loading */

.loading {
  margin: 0;
  text-align: center;
}

.loading__p {
  margin: 0;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-size: 6em;
  font-family: arial;
  font-weight: bold;
  transform: scale(0.5);
  color: var(--black);
  -webkit-text-stroke: 3px gray;
}

.loading__p:nth-child(1) {
  animation: var(--effect);
}

.loading__p:nth-child(2) {
  animation: var(--effect) 0.125s;
}

.loading__p:nth-child(3) {
  animation: var(--effect) 0.25s;
}

.loading__p:nth-child(4) {
  animation: var(--effect) 0.375s;
}

.loading__p:nth-child(5) {
  animation: var(--effect) 0.5s;
}

.loading__p:nth-child(6) {
  animation: var(--effect) 0.675s;
}

.loading__p:nth-child(7) {
  animation: var(--effect) 0.75s;
}

@keyframes hover {
  0% {
    transform: scale(0.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
  }

  20% {
    transform: scale(1);
    color: pink;
    -webkit-text-stroke: 3px red;
    filter: drop-shadow(0 0 1px black) drop-shadow(0 0 1px black)
      drop-shadow(0 0 3px red) drop-shadow(0 0 5px red) hue-rotate(10turn);
  }

  50% {
    transform: scale(0.5);
    color: #121212;
    -webkit-text-stroke: 2px gray;
  }
}

/* movies */
.movies {
  padding-bottom: 3rem;
}

/* search */
select,
button {
  display: inline-block;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 20%;
  padding: 8px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border: 2px solid #fff;
  box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
  -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.33);
}

select {
  width: 20%;
}

button {
  width: 10%;
  margin-left: 2rem;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  color: var(--orange);
}

button:disabled {
  background-color: var(--light_grey);
  color: var(--grey);
}

button:disabled:hover {
  color: var(--grey);
  cursor: default;
}
